/* Contact Section Styles */
#contact {
    background-color: #f9f9f9;
}

.contact-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center;
}

.contact-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.contact-card-description {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

.btn-email {
    background-color: #32de84;
    color: white;
    font-size: 1.25rem;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-email:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #25D366;
    transform: scale(1.1);
}

/* Responsive Styles for Contact Section */
@media (max-width: 1199.98px) {
    .contact-card-title {
        font-size: 1.4rem;
    }
    .contact-card-description {
        font-size: 0.95rem;
    }
}

@media (max-width: 991.98px) {
    .contact-card {
        padding: 15px;
    }
    .contact-card-title {
        font-size: 1.3rem;
    }
    .contact-card-description {
        font-size: 0.9rem;
    }
}

@media (max-width: 767.98px) {
    .contact-card {
        padding: 10px;
    }
    .contact-card-title {
        font-size: 1.2rem;
    }
    .contact-card-description {
        font-size: 0.85rem;
    }
}

@media (max-width: 575.98px) {
    .contact-card {
        padding: 8px;
    }
    .contact-card-title {
        font-size: 1.1rem;
    }
    .contact-card-description {
        font-size: 0.8rem;
    }
}
