/* Footer Styles */
.footer {
    background-color: #f8f9fa;
    padding: 40px 20px;
    color: #333;
    border-top: 1px solid #e4e4e4;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    flex: 1;
    margin-right: 20px;
}

.footer-logo-img {
    max-width: 150px;
}

.footer-links, .footer-contact, .footer-social {
    flex: 1;
    margin-right: 20px;
}

.footer-links h5, .footer-contact h5, .footer-social h5 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: black;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-contact p, .footer-contact a {
    margin-bottom: 10px;
    font-size: 1rem;
}

.footer-contact i {
    margin-right: 10px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-social h5 {
    font-size: 1.25rem;
    margin-bottom: 10px; /* Adjust spacing between heading and icons */
    color: #333;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #333;
    font-size: 1.5rem; /* Adjust size as needed */
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff0000; /* YouTube's red color, or another color of your choice */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.875rem;
}
